.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/FabLab-Fotos1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 189px;
  margin-bottom: 45px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  padding: 30px 0;
}

.u-section-1 .u-video-1 {
  height: 372px;
  margin-top: -8px;
  margin-bottom: -8px;
  animation-duration: 1000ms;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: -10px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 827px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 68px 385px 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin-top: 7px;
  margin-bottom: 7px;
  min-height: 75px;
  grid-gap: 21px 21px;
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-template-rows: auto auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 303px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-2 .u-btn-2 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 303px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-2 .u-btn-3 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 285px;
    margin-right: 285px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 62px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    height: 42px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    height: 42px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    height: 42px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 175px;
    margin-right: 175px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 142px;
    grid-template-columns: repeat(2, calc(50% - 10.5px));
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    grid-template-columns: repeat(1, calc(100% - 0px));
  }

  .u-section-2 .u-image-1 {
    height: 489px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 157px;
  }

  .u-section-2 .u-image-2 {
    height: 489px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    width: 157px;
  }

  .u-section-2 .u-image-3 {
    height: 489px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    width: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 301px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 301px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 301px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1272px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 46px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1166px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-list-1 {
  min-height: 648px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-gap: 15px 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1166px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-list-2 {
  min-height: 648px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-gap: 15px 15px;
  width: 342px;
  margin: 20px -8px 0 auto;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 1166px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-list-3 {
  min-height: 958px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-gap: 15px 15px;
  width: 342px;
  margin: 20px -34px 0 auto;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-17 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 961px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 961px;
  }

  .u-section-3 .u-list-2 {
    height: auto;
    width: 253px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 961px;
  }

  .u-section-3 .u-list-3 {
    height: auto;
    width: 253px;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-2 {
    width: 180px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-list-3 {
    width: 180px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 824px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1715px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  left: auto;
  right: 0;
  background-image: none;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 73px 285px 0;
}

.u-section-4 .u-list-1 {
  min-height: 1483px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  width: 1140px;
  grid-gap: 0px 0px;
  height: auto;
  margin: 73px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-4 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/JuanDiego.jpg");
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 255px;
  min-height: 419px;
  height: auto;
  margin: -255px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 15px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 40px 30px 30px;
}

.u-section-4 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/AlbertoTorres1.jpeg");
  background-position: 50% 17.25%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 255px;
  min-height: 419px;
  height: auto;
  margin: -255px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 15px 25px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px 30px 30px;
}

.u-section-4 .u-image-3 {
  width: 255px;
  height: 255px;
  background-image: url("images/Alexis1.jpeg");
  background-position: 50% 26.61%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 255px;
  min-height: 419px;
  height: auto;
  margin: -255px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 15px 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px 30px 30px;
}

.u-section-4 .u-image-4 {
  width: 255px;
  height: 255px;
  background-image: url("images/EduardoFallaDelgado1.jpg");
  background-position: 50% 46.38%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 255px;
  min-height: 419px;
  height: auto;
  margin: -255px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 15px 25px;
}

.u-section-4 .u-text-11 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 40px 30px 30px;
}

.u-section-4 .u-image-5 {
  width: 255px;
  height: 255px;
  background-image: url("images/AlcidesRiosQuispe.png");
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-5 {
  width: 255px;
  min-height: 419px;
  height: auto;
  margin: -255px 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 0 15px 25px;
}

.u-section-4 .u-text-14 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-text-16 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1455px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-left: 185px;
    margin-right: 185px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1223px;
    grid-template-columns: repeat(2, 50%);
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 191px;
    height: 191px;
  }

  .u-section-4 .u-group-1 {
    width: 218px;
    margin-top: -190px;
    margin-right: 3px;
    height: auto;
  }

  .u-section-4 .u-text-4 {
    font-style: normal;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 191px;
    height: 191px;
  }

  .u-section-4 .u-group-2 {
    width: 218px;
    margin-top: -190px;
    margin-right: 3px;
    height: auto;
  }

  .u-section-4 .u-text-7 {
    font-style: normal;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    width: 191px;
    height: 191px;
  }

  .u-section-4 .u-group-3 {
    width: 218px;
    margin-top: -190px;
    margin-right: 3px;
    height: auto;
  }

  .u-section-4 .u-text-10 {
    font-style: normal;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    width: 191px;
    height: 191px;
  }

  .u-section-4 .u-group-4 {
    width: 218px;
    margin-top: -190px;
    margin-right: 3px;
    height: auto;
  }

  .u-section-4 .u-text-13 {
    font-style: normal;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    width: 191px;
    height: 191px;
  }

  .u-section-4 .u-group-5 {
    width: 218px;
    margin-top: -190px;
    margin-right: 3px;
    height: auto;
  }

  .u-section-4 .u-text-16 {
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    width: 720px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 251px;
    height: 251px;
  }

  .u-section-4 .u-group-1 {
    width: 406px;
    margin-top: -251px;
  }

  .u-section-4 .u-image-2 {
    width: 251px;
    height: 251px;
  }

  .u-section-4 .u-group-2 {
    width: 406px;
    margin-top: -251px;
  }

  .u-section-4 .u-image-3 {
    width: 251px;
    height: 251px;
  }

  .u-section-4 .u-group-3 {
    width: 406px;
    margin-top: -251px;
  }

  .u-section-4 .u-image-4 {
    width: 251px;
    height: 251px;
  }

  .u-section-4 .u-group-4 {
    width: 406px;
    margin-top: -251px;
  }

  .u-section-4 .u-image-5 {
    width: 251px;
    height: 251px;
  }

  .u-section-4 .u-group-5 {
    width: 406px;
    margin-top: -251px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 233px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 233px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 233px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-4 {
    width: 233px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-5 {
    width: 233px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-list-1 {
    min-height: 4521px;
    width: 340px;
    margin-top: 86px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 317px;
    min-height: 468px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    width: 280px;
    height: 280px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    width: 317px;
    min-height: 468px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 280px;
    height: 280px;
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    width: 317px;
    min-height: 468px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    width: 280px;
    height: 280px;
    margin-left: auto;
  }

  .u-section-4 .u-group-4 {
    width: 317px;
    min-height: 468px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    width: 280px;
    height: 280px;
    margin-left: auto;
  }

  .u-section-4 .u-group-5 {
    width: 317px;
    min-height: 468px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-4 .u-text-14 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-15 {
    margin-left: auto;
    margin-right: auto;
  }
}